# file: ~/.gitignore_global
.DS_Store
.idea

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Logs
logs/*

# Database files
db/data/*
data/db/*

# Test binary, build with `go test -c`
*.test